*{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
img{
    width: 30%;
    margin-left: 420px;
    border-radius: 30px;
}
h1{
    text-align: center;
    color: white;}
h2{
    text-align: justify;
    color: white;
}

h3{
    color: white;
}

h4{
    color: white ;
}