*{
    margin: 0;
    padding: 0;
}
header{
 background-color: cornflowerblue;
 width: 100%;
 height: 110px;
}
header h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
color: aliceblue;
text-align: center;
}
#botao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    margin-top: 20px;
    margin-left: 110px;
}
header a{
    text-decoration: none;
    color: black;
}
main{
    background-color: antiquewhite;
    height: 700px;
}
#calculadora{
    width: 40%;
    height: 300px;
    margin-top: 30px;
    border: 2px black solid;
    margin-left: 80px;
    background-color: gray;
    float: left;
}
#juros{
    width: 40%;
    height: 300px;
    margin-top: 30px;
    border: 2px black solid;
    margin-left: 80px;
    background-color: gray;
    float: left;
}
#conversor{
    width: 40%;
    height: 300px;
    margin-top: 30px;
    border: 2px black solid;
    margin-left: 80px;
    background-color: gray;
    float: left;
}
#formulas{
    width: 40%;
    height: 300px;
    margin-top: 30px;
    border: 2px black solid;
    margin-left: 80px;
    background-color: gray;
    float: left;
}

h2{
    text-align: center;
}
#foto{
    width: 300px;
    height: 150px;
    margin-left: 110px;
    margin-top: 12px;
}
#texto{
    margin-top: 15px;
    margin-left: 20px;
}

.work_link {
    margin-left: 210px;
    margin-top: 25px;
}
footer{
    background-color: cadetblue;
    width: 100%;
    height: 200px;
}
footer h1{
    margin-left: 20px;
}
#h2footer{
    margin-left: -1050px;
    margin-top: 15px;
}
