*{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
img{
    width: 30%;
    margin-left: 400px;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-style: white;
}
h2{
    text-align: justify;
}
