*{
    padding: 0;
    margin: 0;
}
font{
    text-align: center;
}
header{
    background-color: #b34db2;
    width: 100%;
    height: 100px;
}
main{
    background-color: antiquewhite;
    width: 100%;
    height: 650px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}
h2{
    margin-left: 20px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    clear: both;
}
a{
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#botao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    float: left;
    margin: 17px;
}
#botao2{
    margin-left: 20px;
    float: left;
    color: black;
    font-size: medium;
    margin-top: 20px;
    height: 30px;
    margin: 17px;
}

