*{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: justify;
}
img{
    width: 40%;
    margin-left: 450px;
    border-radius: 30px;
}