*{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
img{
    margin-left: 510px;
    border-radius: 30px;
}
footer{
    width: 100%;
    height: 225px;
}
button:hover{
    cursor: pointer;
}
#botao{
    margin-left: 50px;
    width: 18%;
    height: 40px;
    border-radius: 30px;
    background-color: blanchedalmond;
}
footer h1{
    padding-top: 50px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}